@using WebApplication4.Models
@model TrainerCreateVM


<div class="container">
	<div class="row">


        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label  asp-for="Name"> Name</label>
                <input  asp-for="Name" class="form-control" placeholder="Enter  Name">
                 <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"> Description</label>
                <input asp-for="Description" class="form-control" placeholder="Enter Description">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image"> Image</label>
                <input asp-for="Image" class="form-control" placeholder="Enter Image">
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="DepartamentId"> DepartamentId</label>
                <select asp-for="DepartamentId" class="form-control" asp-items="@ViewBag.Departaments">



                   
               </select>
                <span asp-validation-for="DepartamentId" class="text-danger"></span>
            </div>
           
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>




	</div>


</div>

@section Scripts{
<partial name="_ValidationScriptsPartial"></partial>

}